{# base.htmlを継承 #}
{% extends 'base.html' %}
{% load bootstrap4 %}

{# タイトルを変更 #}
{% block title %}トップ{% endblock %}

{# メインコンテンツ #}
{% block content %}
    <div class="jumbotron jumbotron-fluid">


        <div class="d-flex flex-column align-items-center">
            <div class="p-2">
                <div class="container-fluid jumbotron-container">
                    <div class="logo"></div>
                </div>
            </div>
            <div class="p-2">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <p>ユーザー名
                        <input type="text" name="username"></p>
                    <p>パスワード
                        <input type="password" name="password"></p>
                    <button class="btn btn-outline-primary" name="btn_sign_up">新規登録</button>
                    <button class="btn btn-outline-primary" name="btn_login">ログイン</button>
                </form>
            </div>
        </div>
    </div>

    {% if error_message %}
        <h2 style="color: red;">
            <strong>{{ error_message }}</strong>
        </h2>
    {% endif %}

{% endblock %}