{# base.htmlを継承 #}
{% extends 'base.html' %}
{% load bootstrap4 %}

{# タイトルを変更 #}
{% block title %}トップ{% endblock %}

{# メインコンテンツ #}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="top-group d-flex flex-column align-items-center">
            <div class="p-2">
                <div class="container-fluid jumbotron-container">
                    <div class="row align-items-center">
                        <div class="col-sm">
                            <img class="top-logo" src="../../static/polls/image/logo_acccent_color.png">
                        </div>
                        <div class="col-sm">
                            <img class="top-image" src="../../static/polls/image/icon.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <p>ユーザー名
                        <input type="text" name="username"></p>
                    <p>パスワード
                        <input type="password" name="password"></p>
                    <button class="btn btn-outline-primary" name="btn_sign_up">
                        <i class="fa fa-user-edit" aria-hidden="true"></i>
                        新規登録
                    </button>
                    <button class="btn btn-outline-primary" name="btn_login">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        ログイン
                    </button>
                    {% if error_message %}
                        <p style="color: red;">
                            <strong>{{ error_message }}</strong>
                        </p>
                    {% endif %}
                </form>
            </div>
            <div class="p-2">
                <i class="fa fa-arrow-circle-down">もっと詳しく</i>
            </div>
        </div>
    </div>

    <div class="container-index">
        <div class="row">
            <div class="col-sm-3" style="text-align: center">
                <i class="fa fa-question-circle" style="font-size: 8rem;margin-bottom: 1rem"></i>
            </div>
            <div class="col-sm">
                <h1 style="text-decoration: underline;background-color: white;padding-bottom: 0;padding-top: 20px;padding-left: 20px;margin-bottom: 0">
                    「みつける君」って？
                </h1>
                <p style="background-color: white;padding-top: 10px;padding-left: 20px;padding-bottom: 10px;margin-bottom: 0">
                    メール送受信機能を搭載したキーホルダー型のGPSです.<br>
                    お子様やご高齢の親御様の位置情報の確認や簡単な質問の送信などに使用することができます.
                </p>
            </div>
        </div>
    </div>

    <div class="container-index" style="background-color: white">
        <div class="row">
            <div class="col-sm-3" style="text-align: center">
                <i class="fa fa-map-marked-alt" style="font-size: 8rem;margin-bottom: 1rem"></i>
            </div>
            <div class="col-sm">
                <h1 style="text-decoration: underline;background-color: white;padding-bottom: 0;padding-top: 20px;padding-left: 20px;margin-bottom: 0">
                    どうやって？
                </h1>
                <p style="background-color: white;padding-top: 10px;padding-left: 20px;padding-bottom: 10px;margin-bottom: 0">
                    当サイトで「みつける君」と保護者様を登録していただければ, すぐに使用することができます.<br>
                    持ち主様の位置情報を「みつける君」に搭載しておりますボタンを押すことで送信することができます.<br>
                    子どもやご高齢の親御様の帰宅確認や非常時の位置確認に使用することができ, 受信したメッセージには「はい」か「いいえ」を返信することも可能です.
                </p>
            </div>
        </div>
    </div>

    <div class="container-index" style="margin-bottom: 60px">
        <div class="row">
            <div class="col-sm-3" style="text-align: center">
                <i class="fa fa-file-alt" style="font-size: 8rem;margin-bottom: 1rem"></i>
            </div>
            <div class="col-sm">
                <h1 style="text-decoration: underline;background-color: white;padding-bottom: 0;padding-top: 20px;padding-left: 20px;margin-bottom: 0">
                    使用方法
                </h1>
                <p style="background-color: white;padding-top: 10px;padding-left: 20px;padding-bottom: 10px;margin-bottom: 0">
                    ・保護者様<br>
                    1. ページ上部にあります新規登録ボタンから「みつける君」と保護者様を登録してください.<br>
                    2. 登録後, ログインしていただければ, 「送信一覧」「受信一覧」「メッセージ作成」を確認できます.<br>
                    <br>
                    ・持ち主様<br>
                    1. 「みつける君」のボタンを押すことで位置情報を送信することができます.<br>
                    2. 受信したメッセージには「はい」か「いいえ」を返信することができます.
                </p>
            </div>
        </div>
    </div>

{% endblock %}