{# base.htmlを継承 #}
{% extends 'base.html' %}
{% load bootstrap4 %}

{# タイトルを変更 #}
{% block title %}メッセージ作成{% endblock %}

{# メインコンテンツ #}
{% block content %}

    {% if error_message %}
        <h2 style="color: red;">
            <strong>{{ error_message }}</strong>
        </h2>
    {% endif %}

    <div class="row button-group">
        <div class="col-sm">
            <a class="btn btn-outline-primary btn-lg btn-send" href="{% url 'user' user_id %}">受信一覧</a>
        </div>
        <div class="col-sm">
            <a class="btn btn-outline-primary btn-lg btn-send" href="{% url 'send_message' user_id %}">送信一覧</a>
        </div>
        <div class="col-sm">
            <a class="btn btn-outline-primary btn-lg btn-send disabled" href="{% url 'send_message' user_id %}">メッセージ作成</a>
        </div>
    </div>

    <div class="container-fluid msg-group">
        <form action="{% url 'send_message' user_id %}" method="post" style="text-align: center!important;">
            {% csrf_token %}
            <div>
                <textarea class="msg-textarea" id="msg" name="user_message" maxlength="50" placeholder="ここにメッセージを入力してください。"></textarea>
            </div>
            <p>*メッセージは50文字まで送信できます。</p>
            <button class="btn btn-outline-primary" name="btn_send_msg">メッセージを送信</button>
        </form>
    </div>
{% endblock %}