{# base.htmlを継承 #}
{% extends 'base.html' %}
{% load bootstrap4 %}

{# タイトルを変更 #}
{% block title %}メッセージを送信{% endblock %}

{# メインコンテンツ #}
{% block content %}
    <h1>Title</h1>

    {% if error_message %}
        <h2 style="color: red;">
            <strong>{{ error_message }}</strong>
        </h2>
    {% endif %}

    <form action="{% url 'send_message' user_id %}" method="post">
        {% csrf_token %}
        <div>
            <label for="msg">Message:</label>
            <textarea id="msg" name="user_message" maxlength="50"></textarea>
        </div>
        <button name="btn_send_msg">メッセージを送信</button>
    </form>

    <a href="{% url 'user' user_id %}">ユーザーページへ戻る</a>
{% endblock %}