{% load static %}
<!DOCTYPE html>
<html lang=ja>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# タイトルブロック #}
    <title>{% block title %}{% endblock %}</title>

    {# ヤフーマップAPIの利用の準備#}
    <script type="text/javascript" src={% static 'polls/js/yahoo_map.js' %}></script>

    {# style.cssを読み込む #}
    <link rel="stylesheet" href="{% static 'polls/css/bootstrap.min.css' %}" type="text/css">
</head>

<body class="body" style="padding-top: 3.5rem">

{# メインコンテンツ #}
{% block content %}{% endblock %}

<footer class="footer">
    <div class="credits">
        <span class="copyright">
		    © <script>document.write(new Date().getFullYear().toString())</script> Studio Aquatan
        </span>
    </div>
</footer>

<script type="text/javascript" src="{% static 'polls/js/bootstrap.min.js' %}">
</script>

</body>

</html>