@charset "UTF-8";

/* color */
:root{
    --base-color: #00505d;
    --accent-color: #35a9b2;
    --dark-color: #424040;
    --text-color: #000;
}

html {
  min-height: 100%;
  position: relative;
}

body {
    margin: 0;
    padding: 0;
    /*margin-bottom: 80px;*/
}

.navbar{
    background-color: var(--base-color);
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    min-height: 450px;
    background: transparent !important;
    text-align: center;
}

.jumbotron-container {
    position: center;
}

.map-group {
    margin-top: 30px;
    margin-bottom: 100px;
}

.map-display {
    height: 800px;
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-container {
    height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: var(--base-color);
    padding: 1rem;
    text-align: right;
    margin-top: 20px;
}

@media (min-width: 300px) {
    .map-display {
        height: 250px;
        width: 250px;
    }
}

@media (min-width: 425px) {
    .map-display {
        height: 350px;
        width: 350px;
    }
}

@media(min-width: 735px)  {
    .map-display {
        height: 400px;
        width: 600px;
    }
}